spring:
  mail:
    host: smtp.gmail.com
    port: 465
    username: ${SMTP_USERNAME}
    password: ${SMTP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
          starttls:
            enable: false

mail:
  from: ${SMTP_USERNAME}
  adminEmail: willian.dev2025@gmail.com